header {
    width: 100%;
    background-size: cover;
    background-position: center;
}

.navegador{
    padding: 25px;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.contenedor{
    display: flex;
}

.titulo{
    font-size: 25px;
    color: #000;
    font-weight: 100;
    margin-top: 3px;
    margin-right: 30px;
}

.menu{
    display: flex;
}

.menu li{
    list-style: none;
    margin: 10px;
}

.pestaña{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

.pestaña:hover{
    padding: 5px 10px;
    background: #000;
    color: #fff;
    border-radius: 15px;
}