.paginaEditarPerfil {
    height: 100vh;
    display: grid;
    place-items: center;
    background-repeat: repeat;
    background-position: center center;
    background-image: url('../multimedia/fondo.jpg');
    animation: desplazamiento 30s linear infinite;
}

.contenedoEditarPerfil {
    width: 90%;
    height: 480px;
    display: flex;
    padding: 0 15px;
    margin-top: 70px;
    background: #fff;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 13px 13px 13px 0 rgb(0 0 0 / 20%);

    & .encabezado {
        display: flex;
        position: relative;

        & .tituloEditarPerfil {
            font-size: 1.3rem;
            color: #001f3f;
        }
    
        & .contenedorFt {
            position: absolute;
            background: white;
            display: grid;
            place-items: center;
            right: 95%;
            top: -150px;
            width: 200px;
            height: 200px;
            border-radius: 50%;

            & .fotoperfil {
                width: 90%;
                height: 90%;
                background: #2980b9;
                display: grid;
                place-items: center;
                color: white;
                border-radius: 50%;
                cursor: pointer;
            }

            & .foto {
                width: 90%;
                height: 90%;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }

    & .contenedorFormulario {
        width: 100%;
        display: flex;
        justify-content: space-around;
        
        & .DatosPersonales {
            width: 760px;
            height: 300px;
            display: grid;
            border-radius: 5px;
            place-items: center;
            padding-bottom: 14px;
            border: 2px solid #ccc;
            grid-template-columns: repeat(2, 1fr);

            & legend {
                width: 130px;
                display: grid;
                color: #001f3f;
                margin-left: 2px;
                background: #ccc;
                border-radius: 5px;
                place-items: center;
            }

            & .labelUsuario {
                font-size: 0.8rem;
                margin-left: 5px;
                color: #001f3f;
            }
    
            & .inputUsuario {
                border: 2px solid transparent;
                transition: all 0.5s ease;
                background: #e6f7ff;
                border-radius: 8px;
                font-size: 18px;
                padding: 12px;
                width: 320px;
                &:focus{
                    outline: none;
                    border: 2px solid blue;
                }
            }
        }

        & .DatosLaborales {
            display: grid;
            place-items: center;
            height: 300px;
            width: 380px;
            border: 2px solid #ccc;
            border-radius: 5px;
            padding-bottom: 14px;

            & legend {
                margin-left: 2px;
                width: 130px;
                display: grid;
                place-items: center;
                background: #ccc;
                color: #001f3f;
                border-radius: 5px;
            }
        }
    }

    & .btn-editar {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        background: #3498db;
        color: #fff;
        border-radius: 15px;
        cursor: pointer;
        text-align: center;
        width: 348px;
        height: 50px;
        border: 2px solid #2980b9;
        transition: 0.5s ease;
        &:hover {
            background-color: #2980b9;
        }
    }
}