.contenedorPropiedad {
    width: 360px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #f5f6f7;
    border-radius: 20px;

    & .contorno {
        display: none;
        color: transparent;
        padding-top: 100px;
        font-size: 2rem;
        width: 360px;
        height: 400px;
        border-radius: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        z-index: 2;
        transition: all 0.4s ease;
        &:hover {
            background: #2c3e5073;
            color: #fff;
        }
    }

    & .imagen {
        width: 100%;
        min-height: 240px;
        border-radius: 20px 20px 0 0;
    }

    & .contenedorTextoPropiedad {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        font-family: Lato, sans-serif;
        position: relative;
    
        & .tituloPropiedad {
            font-size: 1.2rem;
            text-align: center;
        }
        
        & .textosPropiedad {
            font-size: 1.1rem;
            text-align: center;
        }
        
        & .precioPropiedad {
            font-size: 1.1rem;
            text-align: center;
        }
    }

    .recuadro {
        border: 1px solid #888;
        position: absolute;
        z-index: 1;
        width: 320px;
        height: 230px;
        top: 12px;
    }
}