.paginaPublicar {
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: url('../multimedia/fondo.jpg');
    background-position: center center;
    background-repeat: repeat;
    animation: desplazamiento 30s linear infinite;
}

.contenedorPublicar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    & .contenedorImagenesPublicacion{
        width: 440px;
        height: 550px;
        display: flex;
        padding: 0 14px;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        background: #61778a70;
        border-radius: 15px;

        & .tituloAñadir {
            font-size: 1.2rem;
            color: #001f3f;
        }

        & .contenedorImagenesSeleccionadas {
            height: 80%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;

            & .imagenS {
                width: 140px;
                height: 180px;
                cursor: pointer;
            }
    
            & .imagenV {
                border: 2px dashed #fff;
                background-image: url('../multimedia/photo.png');
                background-position: center;
                background-repeat: no-repeat;
                width: 140px;
                height: 180px;
                cursor: pointer;
            }
        }
    }

    & .contenedorFormulario {
        width: 800px;
        height: 450px;
        padding: 14px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 13px 13px 13px 0 rgb(0 0 0 / 20%);

        & .textoPublicar{
            font-size: 1.3rem;
            color: #001f3f;
        }

        & .contendedor-inputs {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 5px;

            & .formularioDinamico {
                padding: 8px;
                font-size: 16px;
                border: 2px solid transparent;
                outline: none;
                background: #e6f7ff;
                border-radius: 8px;
                width: 350px;
                min-height: 48px;
                margin-top: 20px;
                margin-left: 23px;
                transition: all 0.3s ease;
                &:focus {
                    border: 2px solid blue;
                }

                & option {
                    background-color: #f5f5f5;
                    color: #333;
                    font-size: 14px;
                }

                & option:checked {
                    background-color: #ddd;
                }
            }
        }
        
        & .btn-publicar{
            font-family: Roboto, sans-serif;
            font-size: 18px;
            padding: 10px 0;
            background: #3498db;
            color: #fff;
            border-radius: 10px;
            cursor: pointer;
            text-align: center;
            width: 340px;
            border: 2px solid #2980b9;
            transition: 0.5s ease;
            &:hover {
                background-color: #2980b9;
            }
        }
    }
}