.paginaPublicar {
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: url('../multimedia/fondo.jpg');
    background-position: center center;
    background-repeat: repeat;
    animation: desplazamiento 30s linear infinite;
}

.contenedorPublicar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    & .contenedorImagenesPublicacion{
        width: 440px;
        height: 500px;
        padding: 0 14px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        background: #61778a70;
        border-radius: 15px;
    
        & .imagenS {
            width: 140px;
            height: 180px;
        }

        & .imagenV {
            border: 2px dashed #fff;
            background-image: url('../multimedia/photo.png');
            background-position: center;
            background-repeat: no-repeat;
            width: 140px;
            height: 180px;
        }
    }

    & .contenedorFormulario {
        width: 800px;
        height: 550px;
        overflow: hidden;
        transition: height 0.5s ease;
        padding: 14px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 13px 13px 13px 0 rgb(0 0 0 / 20%);

        & .textoPublicar{
            text-align: center;
            font-size: 1.3rem;
            color: #001f3f;
        }

        & .contendedor-inputs {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 5px;

            & .formularioDinamico {
                padding: 8px;
                font-size: 16px;
                border: 2px solid transparent;
                outline: none;
                background: #e6f7ff;
                border-radius: 8px;
                width: 350px;
                min-height: 48px;
                margin-top: 20px;
                margin-left: 23px;
                transition: all 0.3s ease;
                &:focus {
                    border: 2px solid blue;
                }

                & option {
                    background-color: #f5f5f5;
                    color: #333;
                    font-size: 14px;
                }

                & option:checked {
                    background-color: #ddd;
                }
            }
        }

        & .añadeFoto {
            background: #3498db;;
            border-radius: 10px;
            min-width: 340px;
            min-height: 140px;
            border: 3px dashed #000;
            display: grid;
            place-items: center;
            cursor: pointer;
            color: #fff;
            text-size-adjust: 0.9rem;
            &:hover{
                background: #2980b9;
            }
        }
        
        & .btn-publicar{
            font-family: Roboto, sans-serif;
            font-size: 18px;
            padding: 10px 0;
            background: #3498db;
            color: #fff;
            border-radius: 10px;
            cursor: pointer;
            text-align: center;
            width: 340px;
            border: 2px solid #2980b9;
            transition: 0.5s ease;
            &:hover {
                background-color: #2980b9;
            }
        }
    }
}