#principal-recup{
    height: 100vh;
    display: grid;
    place-items: center;
}

#contenedor-recup{
    width: 400px;
    height: auto;
    overflow: hidden;
    transition: height 0.5s ease;
    padding: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #99c9ff38;
    backdrop-filter: blur(5px);
    border-radius: 20px 0 20px 0;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}

#texto-recup{
    margin: 15px 0 25px 0;
    font-size: 1.3rem;
}

#input-text{
    font-size: 0.8rem;
    margin: 10px 0 0 30px;
}

#user-input{
    border: 2px solid transparent;
    padding: 12px;
    transition: all 0.5s ease;
    background: #f5f6f7;
    border-radius: 8px;
    font-size: 18px;
    outline: none;
    width: 320px;
    margin-left: 26px;

    &:focus{
        border: 2px solid blue;
    }
}

#mensaje-Error{
    height: 26px;
    background: #f66060;
    padding: 0 15px;
}

#btn-recup{
    font-family: Roboto, sans-serif;
    margin: 28px 0 25px 0;
    font-size: 18px;
    padding: 14px 32px;
    background: blue;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    width: 250px;
}

#contenerdor-rutas{
    width: 30%;
    height: 100px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

#window2{
    font-size: 0.8rem;
    color: blue;
}