* { 
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 18px;
    background-image: url(./imagenes/imagen-pagina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f5f6f7;
}

h1 {
    max-width: 940;
    font-size: 2.5em;
    font-family: Lato, sans-serif;
    font-weight: 700;
    line-height: 1.1;
    margin: 40px 0;
    justify-content: center;
}

.InicioLobby {

    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;
    text-align: center;

}

.navegador {
    background-color: green;
}

