* { 
    margin: 0;
    padding: 0;
}

.lineaH {
    width: 95%;
    height: 1px;
    background: #000;
}

.lineaV {
    width: 1px;
    height: 80%;
    margin-top: 20px;
    background: grey;
}

.contenedorPrincipal {
  background-image: url('./multimedia/fondoApp.jpg');
  background-size: 100% cover;
  background-repeat: repeat; /* O "repeat-x" para repetir solo en la dirección horizontal */
  background-position: fixed;
  animation: desplazamiento 200s linear infinite;
}

header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    background: #2c3e50;

    & .navegador {
        padding: 20px;
        display: flex;
        align-items: center;

        & .contenedor {
            display: flex;

            & .imagenMenu {
                cursor: pointer;
                width: 40px;
                height: 40px;
            }
            
            & .titulo{
                color: #fff;
                margin: 0 20px;
                font-weight: 100;
                justify-content: center;
                font: 35px "Open Sans", message-box;
            }

            & .menu {
                display: flex;

                & .contenidoPestaña {
                    list-style: none;
                    margin-bottom: 10px;
                }

                & .pestaña {
                    margin: 10px;
                    color: #fff;
                    font-size: 17px;
                    font-weight: bold;
                    text-decoration: none;
                    transition: all 0.5s ease;
                    &:hover {
                    color: #2c3e50;
                    padding: 5px 10px;
                    border-radius: 15px;
                    background: #f5f6f7;
                }}
            }
        }
    }
}

.menuVertical {
    list-style: none;
    position: absolute;
    right: 0;
    margin: 2px 2px 0 0;
    background: #2c3e50;
    display: flex;
    flex-direction: column;
    height: 210px;
    width: 200px;
    justify-content: space-between;
    border-radius: 10px;

    & .pestaña {
        padding: 10px;
        text-decoration: none;
        color: #fff;
        transition: all 0.4s ease;
        &:hover {
        border-radius: 10px;
        background: grey;
    }}
  }

.SeccionHome {
    display: flex;
    align-items: center;
    flex-direction: column;

    & .contenedorBienvenida {
        width: 100%;
        height: 100vh;
        position: relative;

        & .videoHome {
            z-index: 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }

        & .contenedorApertura {
            top: 50%;
            left: 50%;
            z-index: 2;
            width: 450px;
            height: 130px;
            padding: 20px 25px;
            display: flex;
            background: #fff;
            position: absolute;
            align-items: center;
            border-radius: 10px;
            flex-direction: column;
            justify-content: space-between;
            transform: translate(-50%, -50%);

            & .tiuloBienvenida {
                font-size: 1.8em;
                font-family: Lato, sans-serif;
            }
            
            & .textoBienvenida {
                font-size: 1.2em;
                text-align: center;
                font-family: Lato, sans-serif;
            }
        }
    }

    & .contenedorPropiedades {
        width: 100%;
        display: flex;
        min-height: 100vh;
        align-items: center;
        flex-direction: column;

        & .tituloProyectos {
            height: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.8em;
            font-family: Lato, sans-serif;
        }
    
        & .contenedorFamiliaProyectos {
            gap: 70px;
            display: grid;
            padding: 60px 0;
            grid-template-columns: repeat(3, 1fr);

            .contenedorXProyecto {
                border-radius: 20px;
                transition: all 0.4s ease;
                cursor: pointer;
                &:hover {
                    transform: translateY(-10px);
                    box-shadow: 13px 13px 13px 0 rgb(0 0 0 / 20%);
                }
            }
        }
    }
}

.SeccionNosotros {
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2c3e50;
    clip-path: polygon(0% 100%, 100% 80%, 100% 20%, 50% 0, 0 20%);

    & .tituloEmpresa {
        color: #fff;
        width: 350px;
        height: 400px;
        font-size: 5em;
        text-align: center;
        font-family: Lato, sans-serif;
    }

    & .contenidoParrafo {
        height: 250px;
        width: 300px;
        font-size: 1.05em;
        background: #f5f6f7;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #006a98;
        border-radius: 10px;
        padding: 25px;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        &:hover {
            transform: translateY(-10px);
            box-shadow: 13px 13px 13px 0 rgb(0 0 0 / 20%);
        }

        & .tituloParrafo {
            font-size: 1.2em;
            font-family: Lato, sans-serif;
        }
    }
}

.SeccionServicios {
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2c3e50;
    clip-path: polygon(0% 20%, 100% 0, 100% 80%, 50% 99.5%, 0 80%);

    & .tituloServicios {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        width: 500px;
        height: 100px;
        color: #fff;
    }

    & .contenedorServicios {
        border-radius: 20px;
        width: 1300px;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        & .subcontenedorServicios {
            display: flex;
            height: 300px;
            width: 300px;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            & .subtituloServicio {
                text-align: center;
                color: #f5f6f7;
            }

            & .parrafoServicios {
                border: 1px solid #2c3e50;
                text-align: center;
                padding: 15px;
                height: 220px;
                display: grid;
                place-items: center;
                border-radius: 10px;
                color: #2c3e50;
                background: #fff;
                transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                &:hover {
                transform: translateY(-10px);
                box-shadow: 13px 13px 13px 0 rgb(0 0 0 / 20%);
            }}
        }
    }
}

.piePagina {
    height: 200px;
    display: flex;
    justify-content: space-around;
    background: #2c3e50;

    & .contenedorPie {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    & .textoPie {
        color: #fff;
        font-size: 20px;
        justify-items: center;
    }

    & .rutaPie {
        color: #fff;
    }
}